@import '../../../../../assets/styles/_form.scss';

.shipinfo-link {
    color: $mainColor;
    text-decoration: underline;
    font-size: 12px;
    cursor: pointer;
}

.billing-info-label {
    color: $mainColor;
    font-weight: 400;
    font-size: 26px;
    letter-spacing: -1.06px;
    line-height: 31px;
}

.bill-info-title {
    margin-bottom: 19px;
}