@import '../../../../../assets/styles/_variables.scss';

@mixin buttonStyle {
    background-color: $buttonColor;
    border-radius: 5px;
    color: #FFFFFF;
    border: 1px solid rgba(67, 28, 93, 0.8);
    max-width: 180px;
    width: 100%;
    padding: 14px 56px;
    font-family: $fontFamily;
    font-size: 16px;
    line-height: 19px;
}

.shipping-info-label {
    color: $mainColor;
    font-weight: 400;
    font-size: 26px;
    letter-spacing: -1.06px;
    line-height: 31px;
    margin-bottom: 19px;
}

.form-label {
    color: $mainColor;
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 6px;
}

input[type="text"] {
    box-sizing: border-box;
    width: 100%;
    padding: 11px 15px;
    border: 1px solid #DEDCDC;
    border-radius: 5px;
    background: #FFFFFF;
    margin-bottom: 20px;

    font-family: $fontFamily;
    font-size: 16px;
    line-height: 18px;
    color: #6B6B6B;

    font-size: 16px;
    color: #000000;
    font-weight: 500;
}

input:focus{
    outline: 1px solid $mainColor;
}

.delivery {
    font-size: 13px;
    line-height: 12px;
    margin-left: 10px;
    color: $smallTextColor;
    height: 24px;
}

.phone-info {
    margin-bottom: 30px;
    position: relative;
}

input.phone {
    max-width: 180px;
    margin-bottom: 0px;
}

.zip {
    max-width: 120px;
}

.country {
    max-width: 180px;
    margin-right: 15px;
}

.detect_focus {
    position: absolute;
    display: inline;
    top: 12px;
    right: 12px;
    cursor: pointer;
    img {
        width: 20px;
        height: 20px;
    }
}

button {
    display: block;
    cursor: pointer;
    @include buttonStyle;
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched, .redBorder { 
    background: rgba(248, 231, 28, 0.07);
    color:#D0021B;
}

.hint {
    color: #D0021B;
}

.input-wrapper {
    position: relative;
}

.hint {
    box-sizing: border-box;
    position: absolute;
    top: -36px;
    left: -7px;
    padding: 7px 12px;

    font-weight: 400;
    font-size: 13px;
    letter-spacing: -0.5px;
    line-height: 16px;

    background: #FFFFFF;
    border: 1px solid rgba(222, 220, 220, 0.695907);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

.hint:before {
    content: "";
    position: absolute;
    top: -webkit-calc(100% - 8px);
    top: calc(100% - 8px);
    left: 20px;
    height: 15px;
    width: 15px;
    transform: rotate(45deg);
    border-bottom:inherit;
    border-right:inherit;
    background: -webkit-linear-gradient(135deg, #FFFFFF 50%, transparent 50%);
  }

  .zip-hint {
    left: 190px;
    top:-50px;
  }