<nav>
    <div class="nav-info" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="nav-label" fxLayout="row" fxLayoutAlign="center center">
            <span class="nav-label-icon"><img src="assets/images/nav-icon.png" alt="Nav Icon"></span> 
            <span class="nav-label-text">Front-end Developer Test Task</span>
        </div>
        <div class="cart" fxLayout="row" fxLayoutAlign="center center">
            <span class="cart-label">cart</span>
            <span class="cart-icon"><img src="assets/images/cart-icon.png" alt="Cart"></span>
            <span *ngIf="!(success$ | async)" class="cart-badge">3</span>
        </div>
    </div>
    <div class="line"></div>
</nav>
<div class="shopping-container-wrapper">
    <div class="shopping-container">
        <div class="order-steps" fxLayout="column">
            <div *ngIf="!(success$ | async)" class="breadcrumbs">
                <a [routerLink]="'/shipping'" routerLinkActive="active-link">
                    <span (click)="$event.stopPropagation();$event.preventDefault()">Shipping</span>
                </a>
                <a [routerLink]="'/billing'" routerLinkActive="active-link">
                    <span (click)="$event.stopPropagation();$event.preventDefault()">Billing</span>
                </a>
                <a [routerLink]="'/payment'" routerLinkActive="active-link">
                    <span (click)="$event.stopPropagation();$event.preventDefault()">Payment</span>
                </a>
            </div>
            <router-outlet></router-outlet>
        </div>
        <div class="summary" [ngClass]="(success$ | async) ? 'order-summary-pale' : 'order-summary'">
            <app-order-summary></app-order-summary>
            <div *ngIf="success$ | async" class="overlap"></div>
        </div>
    </div>
</div>