@import '../../../../../assets/styles/_variables.scss';

p {
    margin: 0;
    padding: 0;
}

.info-label {
    color: $mainColor;
    font-weight: 400;
    font-size: 26px;
    letter-spacing: -1.06px;
    line-height: 31px;
    margin-bottom: 29px;
}

.order-num {
    margin-bottom: 11px;
}

.email-confirm {
    margin-bottom: 31px;
}

.mail {
    color: $mainColor;
    cursor: pointer;
}

.print {
    color: $mainColor;
    text-decoration: underline;
    margin-top: 31px;
    cursor: pointer;
}

.print-button {
    color: $mainColor;
    text-decoration: underline;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    margin-top: 31px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}