@import '../../../../../assets/styles/_form.scss';

.pay {
    padding: 14px 40px;
}

.expireDate, .security {
    max-width: 100px;
}

.expireDate {
    margin-right: 30px;
}

.lock img {
    width: 19px;
    margin-right: 5px;
}

.payment-description {
    margin-bottom: 20px;
    span:last-child{
        margin-bottom: 6px;
    }
}

p {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #6B6B6B;
}

.form-label {
    position: relative;
}

.visa_logo {
    position: absolute;
    top: 12px;
    left: 280px;
}

.card-hint {
    top: -50px;
}

.input-wrapper-payment {
    margin-bottom: 10px;
}