@import '../../../../../assets/styles/_form.scss';

.pay {
    padding: 14px 40px;
}

.expireDate, .security {
    max-width: 100px;
}

.expireDate {
    margin-right: 30px;
}

p {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #6B6B6B;
}