<button class="back-button" (click)="goToShippingForm()">Back</button>
<div class="bill-info-title" fxLayout="row" fxLayoutAlign="space-between center">
    <h2 class="billing-info-label">Billing Information</h2>
    <span class="shipinfo-link" (click)="onGetShipInfo()">Same as shipping</span>
</div>
<div class="recipient-info">
    <form [formGroup]="billingForm" (ngSubmit)="onSubmit()">
        <h2 class="form-label">Billing Contact</h2>
        <div class="input-wrapper">
            <input type="text" placeholder="Full Name" formControlName="fullName">
            <div *ngIf="(billingForm.get('fullName').touched || billingForm.get('fullName').dirty) && billingForm.get('fullName').invalid" class="hint"><span>Please enter full name</span></div>
        </div>

        <div class="input-wrapper email-info">
            <input type="email" placeholder="Email Address" formControlName="email">
            <div *ngIf="(billingForm.get('email').touched || billingForm.get('email').dirty) && billingForm.get('email').invalid" class="hint"><span>Please enter your email</span></div>
        </div>

        <h2 class="form-label">Billing Address</h2>
        <div class="input-wrapper">
            <input type="text" placeholder="Street Address" formControlName="road">
            <div *ngIf="(billingForm.get('road').touched || billingForm.get('road').dirty) && billingForm.get('road').invalid" class="hint"><span>Please enter your street</span></div>
        </div>
        <input type="text" placeholder="Apt, Suite, Bldg, Gate Code. (optional)" formControlName="optionalGeoInfo">
        
        <div class="location-wrapper">
            <div class="input-wrapper">
                <input type="text" placeholder="City" formControlName="city">
                <span (click)="onDetectFocus()" class="detect_focus"><img [src]="detectGeoClicked? 'assets/images/detect_focus.png':'assets/images/detect_unfocus.png'" alt="Detect Focus"></span>
                <div *ngIf="(billingForm.get('city').touched || billingForm.get('city').dirty) && billingForm.get('city').invalid" class="hint"><span>Please enter your city</span></div>
            </div>
            <div class="input-wrapper country-zip-wrapper">
                <ul *ngIf="showDropDown" class="listOfCountries">
                    <li *ngFor="let country of countryList | filter: billingForm.get('country').value" (click)="onCountrySelected(country)">{{country}}</li>
                </ul>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div>
                        <input clickOutside (clickOutside)="closeDropDown()" autocomplete="off" (focuson)="showDropDown=!showDropDown" id="countrySearch" type="text" (click)="showDropDown = !showDropDown" class="country" placeholder="Country" formControlName="country">
                        <div *ngIf="(billingForm.get('country').touched || billingForm.get('country').dirty) && billingForm.get('country').invalid" class="hint"><span>Please enter your country</span></div>
                    </div>
                    <div>
                        <input type="text" class="zip" placeholder="ZIP" formControlName="postcode">
                        <div *ngIf="(billingForm.get('postcode').touched || billingForm.get('postcode').dirty) && billingForm.get('postcode').invalid" class="hint zip-hint"><span>Please enter your ZIP</span></div>
                    </div>
                </div>
                <span class="arrow_down" (click)="showDropDown=!showDropDown"><img src="assets/images/arrow_down.png" alt="Detect Focus"></span>
            </div>
        </div>

        <button type="submit">Continue</button>
    </form>
</div>