$mainColor: #5A1094;
$secondaryColor: #C90EA5;
$buttonColor: rgba(90, 16, 148, 0.8);
$totalColor: #431C5D;
$orderBackgroundColor: #E6E9F0;
$smallTextColor: #777879;
$itemInfoColor: #2B2525;
$editOrderColor: #979797;

$backgroundColor: #E5E8EF;
$bgShopContainer: linear-gradient(180deg, #FFFFFF 0%, #FEFEFE 100%);

$fontFamily: 'Open Sans', sans-serif;